*
{
  box-sizing: border-box;
}

.hidden
{
  display: none;
}

body
{
  background-color: white;
  color: black;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;

}

.instaLogin
{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr [form] minmax(240px, 450px) 1fr;
  grid-template-rows: 1fr [form] 1fr 1fr;
  justify-content: center;
  align-items: center;
  background-image: url(../images/clothes.png);
  background-size: 50px;
  background-repeat: repeat;
}

.form--login
{
  background-color: black;
  border: 3px solid;
  border-radius: 10px;
  padding: 1em;
  color: white;
  grid-column: form;
  grid-row: form;
}

.form__error
{
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 0.3em 1em;
  margin-bottom: 1em;
  border-radius: 30px;
  font-size: 0.9em;
}

.form__field
{
  background-color: black;
  padding-bottom: 1em;
}

.form__field label
{
  display: block;
  margin-bottom: 0.2em;
}

.form__field .label__inline
{
  display: inline-block;
}

.form__field input[type=text], 
.form__field input[type=password],
.form__field input[type=email] 
{
  width: 100%;
  padding: 0.5em;
  font-size: 1.4em;
  border-radius: 30px;
  border: 1px black;
  margin-top: 5px;
}

.btn
{
  width: 100%;
  margin: 0.5em auto;
}

.btn--primary
{
  background-color: #FFE76A;
  color: white;
  text-align: center;
  border: none;
  border-radius: 40px;
  padding: 0.7em 2em;
  font-size: 1.4em;
  font-weight: bold;
}
